.todo-card {
    padding: 16px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 4px;

    &_completed {
        box-shadow: 0 0 5px green;
        color: rgb(182, 182, 182);

        .status {
            background: rgb(77, 139, 74);
            color: #fff;
        }
    }

    &_completed  &__title {
        text-decoration: line-through;
    }

    &__header {
        margin-bottom: 16px;
    }

    &__title {
        margin: 16px 0 0;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;

        .btn + .btn {
            margin-left: 16px;
        }
    }
}